<header class="header">
    <div class="sidebar-toggle" id="sidebarToggle">  
      <i class="fa-solid fa-bars"></i>
      <span class="tooltip">Open sidebar</span>
    </div>
  
    <div class="account">
      {% if user.is_authenticated %}
        <div class="account-icon" id="accountIcon">
          <i class="fa-solid fa-user-circle fa-2x"></i>
          <span class="tooltip">Account</span>
          <ul class="account-dropdown slide-in" id="accountDropdown">
            <li>
              <span class="menu-item username">
                <i class="fa-solid fa-user"></i>
                <span>{{ user.email }}</span>
              </span>
            </li>

            <li>
              <a href="#" class="menu-item">
                <i class="fa-solid fa-calendar-check"></i>
                <span>Appointments</span>
              </a>
            </li>
            <li class="theme" id="themeToggleBtn">
              <span class="menu-item">
                <i class="fa-solid fa-circle-half-stroke"></i>
                <span>Theme</span>
              </span>
            </li>
            
            <li>
              <a href="{% url 'users:logout' %}" class="menu-item">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Logout</span>
              </a>
            </li>
            <li>
              <a href="{% url 'users:delete_account' %}" class="menu-item delete-account">
                <i class="fa-solid fa-trash-alt"></i>
                <span>Delete Account</span>
              </a>
            </li>
          </ul>
          
        </div>
      {% else %}
        <a href="{% url 'users:login' %}" class="btn primary-btn-alt login-btn">
          Log in
        </a>
      {% endif %}
    </div>
  </header>
  