<!-- Base Sidebar Navigation [styles in base.css]-->

{% load static %}

<!-- Overlay (for mobile) -->
<div class="sidebar-overlay"></div>

<!-- Sidebar -->
<aside class="sidebar">
    <div class="sidebar-top">
        <div class="upper">
            <a href="{% url 'chats:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Sawacom Logo" class="logo-image"/>
            </a>
            
            <a href="{% url 'chats:index' %}">
                <h1>Sawacom</h1>
            </a>

            <!-- Collapse button in desktop-->
            <div class="sidebar-collapse" id="sidebarCollapse">
                <i class="fa-solid fa-chevron-left"></i>
                <span class="tooltip">Close sidebar</span>
            </div>
            <!-- Close button for mobile -->
            <div class="sidebar-close" id="sidebarClose">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <button class="newchat-btn primary-btn">
            <i class="fa-regular fa-pen-to-square"></i>
            New chat
        </button>
    </div>

    <div class="sidebar-middle"> 
        <ul class="chats-list" id="chatsList">
            <!-- chat sessions will be injected here -->
        </ul>
    </div>
    
    <div class="border"></div>

    <div class="sidebar-bottom">
        <nav>
            <ul class="sidebar-links">
                <li><a href="#">Book a Professional</a></li>
                <li><a href="{% url 'pages:about' %}">About Sawacom</a></li>
                <li><a href="{% url 'pages:contact' %}">Contact Us</a></li>
                <li><a href="{% url 'pages:terms' %}">Terms of Service</a></li>
                <li><a href="{% url 'pages:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'blog:list' %}">Our Blog</a></li>
              </ul>
            
        </nav>

        <p class="disclaimer small-text">
            Sawacom is an AI assistant and not a licensed professional. 
            For emergencies, call 999 or <a href="#">Book a professional</a>. 
            By messaging Sawacom, you agree to our <a href="{% url 'pages:terms' %}">Terms of Service</a> & <a href="{% url 'pages:privacy' %}">Privacy Policy</a>.
        </p>
        
    </div>

</aside>
