<!-- Home page -->

{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'chat/index.css' %}">
{% endblock %}

{% block content %}

<div class="index">
    <!-- Chat area when users sends message -->
    <div class="chat-body" id="chatBody">
            <!-- Messages will be dynamically inserted here -->
    </div>

    <!-- initial display when no chats yet -->
    <div class="chat-start" id="chatStart">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Sawacom Logo" class="logo-image"/>
        </div>
        
        <!-- Welcome Message -->
        <div class="welcome-message" id="welcomeMessage">
            <h1 style="text-align: center;">Hi, I’m Sawacom — your mental health AI</h1>
            
            <div class="subtext-rotator">
                <div class="subtext active" id="subtextContainer">
                  <span>
                    <i class="fas fa-user-secret"></i> Anonymous
                  </span>
                  <span class="separator"></span>
                  <span>
                    <i class="fas fa-dollar-sign"></i> Free
                  </span>
                  <span class="separator"></span>
                  <span>
                    <i class="fas fa-lock"></i> Secure
                  </span>
                </div>
            </div>
        </div>

        <!-- Chat Input -->
        <form class="chat-input-box" id="chatInputBox">
            <textarea class="chat-input" id="userInput" placeholder="Ask Sawacom..." rows="1" autocomplete="off"></textarea>
            <button type="submit" id="sendButton" disabled>
                <i class="fa-solid fa-arrow-up"></i>
                <span class="tooltip empty-message">Message is empty</span>
            </button>
        </form>
    </div>

    <!-- Footer -->
    <footer class="chat-footer" id="chatFooter">
        <!-- chat-input-box will be inserted here when user sends a message-->
        <p class="disclaimer small-text">
            Sawacom is an AI assistant and not a licensed professional. 
            For emergencies, call 999 or <a href="#">Book a professional</a>. 
            By messaging Sawacom, you agree to our <a href="{% url 'pages:terms' %}">Terms of Service</a> & <a href="{% url 'pages:privacy' %}">Privacy Policy</a>.
        </p>
        
    </footer>
</div>

{% endblock %}


{% block scripts %}

    <script src="{% static 'chat/helpers.js' %}" defer></script>
    <script src="{% static 'chat/index.js' %}" defer></script>
{% endblock %}