* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
  
:root {
    --primary-color: #4d6bfe;
    --secondary-color: #dbeafe;
    --btn-hover: #c6dcf8;
    --text-color: #404040;
    --text-faded: #8d8c8c;
    --bg-color: #fff;
    --bg-sidebar: #f9fbff;
    --bg-tooltip: #333;
    --input-bg: #eee;
    --input-border: #dce0e9;
    --success-bg: #E6FFFA;
    --success-text: #2C7A7B;
    --error-bg: #FFF5F5;
    --error-text: #e53535;
    --warning-bg: #FFFAF0;
    --warning-text: #975A16;
    --shadow: 1px 4px 10px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.08);
}
  
html {
    font-size: 62.5%;
    width: 100vw;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}
  
body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
}

main {
    flex: 1;
    margin: 0 auto;
    padding: 0 1.5rem 0 1rem;
}

h1,h2,h3{
    font-weight: 700;
    line-height: 1.4;
}

h1 {
    font-size: 2.5rem;
}
 
h2 {
    font-size: 1.8rem;  
}
 
h3 {
    font-size: 1.5rem;
}

p{
    font-size: 1.35rem;
    font-weight: 400;
}  

a{
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
}
a:hover{
    color: var(--text-faded);
    text-decoration: underline;
}

/* Global scrollbar styles */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* for horizontal scroll */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}


/* global classes */
.btn{
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.1s ease-in-out;
}
.btn:hover{
    text-decoration: none !important;
}

.btn-neutral{
    border: 1px solid var(--input-bg);
    background-color: transparent;
    color: var(--text-color);
}
.btn-neutral:hover{
    background-color: var(--input-bg);
    cursor: pointer;
    color: var(--text-color);
}

.primary-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.primary-btn:hover {
    background-color: var(--btn-hover);
    color: var(--primary-color);
}

.btn-danger{
    background-color: var(--error-text);
    color: #fff;
}
.btn-danger:hover{
    opacity: .8;
}


.small-text{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-faded);
}

.border{
    height: 1px;
    background-color: var(--input-border);
    border-radius: .5px;
    width: 100%;
}

.separator{
    height: .5rem;
    aspect-ratio: 1/1;
    background-color: var(--text-faded);
    border-radius: 50%;
    display: inline-block;
}

.tooltip{
    visibility: hidden;
    opacity: 0;
    background-color: var(--bg-tooltip);
    color: var(--bg-color);
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 10;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out 0.2s;
    white-space: nowrap;
    pointer-events: none;
    font-size: 1.2rem;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
/* utility class for slide in */
  .slide-in {
    animation: fadeIn 0.15s ease-in-out both;
}

/* alerts */
.alert{
    padding: .5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.alert.success{
    background-color: var(--success-bg);
    color: var(--success-text);
}
.alert.error{
    background-color: var(--error-bg);
    color: var(--error-text);
}
.alert.warning{
    background-color: var(--warning-bg);
    color: var(--warning-text);
}

.retry-btn{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1.35rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: all 0.1s ease-in-out;
}
.retry-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

.retry-btn i {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* messages */
.global-messages:not(:empty) {
    list-style: none;
    padding: 0;
    position: fixed;
    top: .3rem;
    left: .3rem;
    right: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    pointer-events: none;
    z-index: 1000000;
}

/* Each message */
.global-messages .global-message {
    padding: 0.75rem 1rem;
    width: 100%;
    max-width: 800px;
    border-radius: .5rem;
    font-size: 1.35rem;
    text-align: center;
    transform: translateY(-120%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    border-left-width: 5px;
    border-left-style: solid;
  }
  
.global-message.success { background-color: var(--success-bg); color: var(--success-text); border-left-color: var(--success-text); }
.global-message.error   { background-color: var(--error-bg);   color: var(--error-text); border-left-color: var(--error-text); }
.global-message.info { background-color: var(--warning-bg); color: var(--warning-text); border-left-color: var(--warning-text); }
  
/* When showing */
.global-messages .global-message.show {
    transform: translateY(0);
    opacity: 1;
}
  
/* When hiding */
.global-messages .global-message.hide {
    transform: translateY(-120%);
    opacity: 0;
}


/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100001;
  }
  
/* Modal Dialog */
.modal-dialog {
    background: #fff;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    max-width: 400px;
    box-shadow: var(--shadow);
}

.modal-header h3{
    font-size: 2rem;
    font-weight: 500;
}

.modal-footer{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 1rem;
}

/* form */
.form-wrapper{
    max-width: 40rem;
    margin: 4rem auto;
    padding: 2rem;
    background: var(--bg-color);
    border-radius: 1.5rem;
    border: 1px solid var(--input-border);
}

.form-wrapper h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-wrapper .input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-wrapper label{
    font-size: 1.35rem;
    margin-left: 1rem;
    font-weight: 500;
}

.form-wrapper input, .form-wrapper textarea{
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.35rem;
    border: 1px solid var(--input-border);
    border-radius: 3rem;
    background: var(--input-bg);
}
  

/* Header */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .sidebar-toggle{
    display: none;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    transition: all 0.1s ease-in-out;
}
.header .sidebar-toggle:hover{
    cursor: pointer;
    background-color: var(--input-bg);
}

.header .sidebar-toggle .tooltip {
   left: 0;
   transform: translateX(0);
}

.header .sidebar-toggle:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.header .sidebar-toggle i{
    font-size: 2rem;
    color: var(--text-faded);
}

/* user account */
.header .account{
    margin-left: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.account-icon i.fa-user-circle {
    font-size: 2.5rem;
    color: var(--text-faded);
    cursor: pointer;
}

.account-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    right: 0;
    left: unset;
    transform: translateX(0);
}

.account-icon.open .account-dropdown {
    display: flex;
}
 
/* the dropdown menu, hidden by default */
.account-dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + 0.5rem);
    background: var(--bg-color);
    border-radius: 1.5rem;
    box-shadow: var(--shadow);
    list-style: none;
    padding: 0.5rem;
    display: none;
    flex-direction: column;
    overflow: hidden;
    width: max-content;
    z-index: 100;
}
  
.account-dropdown li a{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.35rem;
    border-radius:1rem;

}
.account-dropdown li a:hover {
    background-color: var(--input-bg);
}

.account-dropdown li a i {
    font-size: 1.5rem;
}

.account-dropdown li a.username{
    display: inline-block;     
    max-width: 20rem;          
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--input-border);
    border-radius: 0;
    cursor: auto;
}
.account-dropdown li a.username:hover{
    background-color: transparent;
}
.account-dropdown li a.delete-account, .account-dropdown li a.delete-account{
    color: var(--error-text);
}
.account-dropdown li a.delete-account:hover{
    color: var(--error-text);
    background-color: var(--error-bg);
}


/* Sidebar */
.sidebar {
    background-color: var(--bg-sidebar);
    width: 17%;
    max-width: 300px;
    min-width: 250px;
    padding-right: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh; 
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    transition: all 0.15s ease-in-out;
    z-index: 1000;
}

/* Collapsed sidebar (desktop) */
.sidebar.collapsed {
    width: 0;
    min-width: 0;
    overflow: hidden;
}

.sidebar-top,
.newchat-btn,
.sidebar-bottom {
    flex-shrink: 0; /* Never shrink these sections */
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
    padding: 2rem .5rem 0 2rem;
}

.sidebar-top .upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.sidebar-top .logo-image{
    width: 3.8rem;
    aspect-ratio: 1/1;
}

.sidebar-top a {
    text-decoration: none;
    color: var(--text-color);
}

.sidebar-top h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.sidebar-top .sidebar-collapse, .sidebar-top .sidebar-close {
    height: 3.8rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.sidebar-top .sidebar-collapse:hover, .sidebar-top .sidebar-close:hover{
    background-color: var(--input-bg);
    cursor: pointer;
}

.sidebar-collapse:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-top .sidebar-close{
    display: none;
}

.sidebar-top .upper i{
    font-size: 2rem;
    color: var(--text-faded);
}

.newchat-btn{
    padding: 1rem 2rem;
    width: fit-content;
}

.newchat-btn i{
    font-size: 2rem;
}

.sidebar-middle{
    flex: 1;
    overflow-y: auto;
    padding: 0 .7rem 0 1rem;
}

.sidebar-middle .chats-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

.sidebar-middle .chats-list .chat-session {
    position: relative;
    padding: .9rem 1rem;
    border-radius: 3rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
.sidebar-middle .chats-list .chat-session:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
.sidebar-middle .chats-list .chat-session.active{
    background: var(--secondary-color);
}
.sidebar-middle .chats-list .chat-session.active .chat-menu{
    display: inline-block;
}

.sidebar-middle .chats-list .chat-session .session-title{
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.35rem;
    display: block;
    white-space: nowrap;   
    text-overflow: ellipsis;        
    overflow: hidden;              
    position: relative;
}

.sidebar-middle .chats-list .chat-session .chat-menu{
    display: none;
    font-size: 1.4rem;
    padding: .2rem .5rem;
    border-radius: 1rem;
    transition: all 0.1s ease-in-out;
    color: var(--text-color);
} 

.sidebar-middle .chats-list .chat-session:hover .chat-menu {
    display: inline-block;
}

.sidebar-middle .chats-list .chat-session .chat-menu:hover{
    background-color: var(--bg-color);
    color: var(--primary-color);
}  

.chat-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 1rem;
    background: var(--bg-color);
    box-shadow: var(--shadow);
    border-radius: 1.5rem;
    padding: .5rem;
    z-index: 10000;
    min-width: 100px;
}

.chat-options .option {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.chat-options .option i {
    font-size: 1.5rem;
}

.chat-options .option:hover {
    background-color: var(--input-bg);
}

.chat-options .delete {
    color: var(--error-text);
}
.chat-options .delete:hover{
    background-color: var(--error-bg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-chats-message,.error-chats-message {
    padding: 2rem 1rem;
    color: var(--text-faded);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.error-chats-message{
    flex-direction: column;
    justify-content: center;
}
.error-chats-message p{
    text-align: center;
    color: var(--error-text);
}
  
.no-chats-message i, .error-chats-message {
    font-size: 3rem;
}

.chats-list .skeleton-item{
    height: 3.5rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
}

/* Input for renaming (inline) */
.sidebar .rename-input {
    width: 100%;
    background-color: transparent;
    /* padding: 0.25rem 0.5rem; */
    font-size: 1.35rem;
}  


/* sidebar page links */
.sidebar-bottom{
    padding: 0 1.5rem 2rem 2rem;
}

.sidebar-links{
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-links li {
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
  }

.sidebar-links a{
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
    font-size: 1.35rem;
    transition: all 0.1s ease-in-out;
}
.sidebar-links a:hover{
    color: var(--text-faded);
    text-decoration: underline;
}

/* Overlay for mobile */
.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(2px);
}


/* Responsive */
@media (max-width: 1024px) {
    *::-webkit-scrollbar {
        width: 5px;
        height: 5px; 
    }

    h1 { font-size: 2.3rem; }
    h2 { font-size: 1.6rem; }
    h3 { font-size: 1.4rem; }
    
    .tooltip{
        display: none !important;
    }

    .sidebar {
        position: fixed;
        transform: translateX(-100%);
        height: 100%;
        top: 0;
        left: 0;
        width: 250px;
        z-index: 10001;
    }

    .sidebar.collapsed {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0%);
    }

    .header .sidebar-toggle{
        display: flex !important;
    }

    .sidebar-top .sidebar-close{
        display: flex !important;
    }
    .sidebar-top .sidebar-collapse{
        display: none !important;
    }

    .sidebar-overlay.show {
        display: block;
    }

    .sidebar .chat-menu{
        display: inline-block !important;
    }
}

@media (max-width: 425px) {
    .form-wrapper {
        margin: 3rem 1.5rem;
        padding: 1.5rem;
    }
}