{% extends "base.html" %}

{% load static %}

{% load socialaccount %}

{% block title %}
Login securely to Sawacom | 24/7 AI Mental Health Companion
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/auth.css' %}">
{% endblock %}

{% block content %}

<section class="auth-container" id="login-section">
  <h1>Welcome Back</h1>
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}

    {# Non-field errors #}
    {% if form.non_field_errors %}
      <div class="alert error">
        {% for err in form.non_field_errors %}
          <p>&#x25CF; {{ err }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {# Email field #}
    <div class="input-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% if form.username.errors %}
        <div class="alert error">
          {% for error in form.username.errors %}
            <p>&#x25CF; {{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {# Password field #}
    <div class="input-group">
      {{ form.password.label_tag }}
      {{ form.password }}
      {% if form.password.errors %}
        <div class="alert error">
          {% for error in form.password.errors %}
            <p>&#x25CF; {{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="submit-btn primary-btn">Log in</button>

    <p class="subtitle">
      Don’t have an account yet? <a href="{% url 'users:signup' %}">Sign Up</a>
    </p>

    <div class="divider"><span>OR</span></div>

    <div class="social-btns">
      <a href="{% provider_login_url 'google' %}" class="social-btn">
        <span class="social-icon">
          <img src="{% static 'images/icons/google-icon.svg' %}" alt="Google icon" width="30">
        </span>
        Continue with Google
      </a>
    </div>
  </form>
</section>

{% endblock %}
