{% extends "base.html" %}

{% load static %}

{% load socialaccount %}

{% block title %}
Signup securely to Sawacom | 24/7 AI Mental Health Companion
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/auth.css' %}">
{% endblock %}

{% block content %}

<section class="auth-container" id="signup-section">
  <h1>Create Account</h1>
  <form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}

    {# Display form-wide errors #}
    {% if form.non_field_errors %}
      <div class="alert error">
        {% for error in form.non_field_errors %}
          <p>&#x25CF; {{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="input-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.errors %}
        <div class="alert error">
          {% for error in form.email.errors %}
            <p>&#x25CF; {{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="input-group">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {% if form.password1.errors %}
        <div class="alert error">
          {% for error in form.password1.errors %}
            <p>&#x25CF; {{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="input-group">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {% if form.password2.errors %}
        <div class="alert error">
          {% for error in form.password2.errors %}
            <p>&#x25CF; {{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn submit-btn primary-btn">Sign up</button>

    <p class="subtitle">
      Already have an account? <a href="{% url 'users:login' %}">Log in</a>
    </p>

    <div class="divider"><span>OR</span></div>

    <div class="social-btns">
      <a href="{% provider_login_url 'google' %}" class="social-btn">
        <span class="social-icon">
          <img src="{% static 'images/icons/google-icon.svg' %}" alt="Google icon" width="30">
        </span>
        Continue with Google
      </a>
    </div>
  </form>
</section>

{% endblock %}
