.auth-container {
    max-width: 40rem;
    margin: 4rem auto;
    padding: 2rem;
    background: var(--bg-color);
    border-radius: 1.5rem;
    border: 1px solid var(--input-border);
}

#delete-account-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#delete-account-section form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-container .submit-btn {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
}


.auth-container p.subtitle {
    text-align: center;
    font-size: 1.35rem;
    color: var(--text-faded);
    margin-top: 1rem;
}
.auth-container .divider {
    text-align: center;
    margin: 1.5rem 0;
    position: relative;
  }
.auth-container .divider::before,
.auth-container .divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: var(--input-border);
  }
.auth-container .divider::before { left: 0; }
.auth-container .divider::after { right: 0; }
.auth-container .divider span {
    display: inline-block;
    padding: 0 1rem;
    background: var(--bg-color);
    color: var(--text-faded);
    font-size: 1.35rem;
  }
.auth-container .social-btns {
    display: flex;
    gap: 1rem;
  }
.auth-container .social-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    font-size: 1.35rem;
    border: 1px solid var(--input-border);
    border-radius: 3rem;
    background: var(--bg-color);
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.15s ease;
  }
.auth-container .social-btn:hover {
    background: var(--input-bg);
  }
.auth-container .social-icon {
    margin-right: 0.8rem;
    height: 3rem;
    width: 3rem;
  }
.auth-container .footer-text {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    color: var(--text-faded);
  }
.auth-container .footer-text a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
  }

@media (max-width: 425px) {
    .auth-container {
        margin: 3rem 1.5rem;
        padding: 1.5rem;
    }
}